.App {
  text-align: center;
}
.cart{
  display: flex;
 justify-content: end;
 top: 12px;
}
span{
  background-color: rgb(75, 25, 212);
  height: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 2px;
}